.register-section {
    width: 100vw;
    height: 100vh;
    background-color: #bce0fd88;
    display: flex;
}

.register-left {
    display: grid;
    place-items: center;
}

.register-left-info {
    padding: 1rem;
    width: 60%;
    margin-left: 5rem;
}

.register-left-title {
    display: block;
    margin: 1rem auto;
    font-size: 3rem;
    color: #0000e6;
}

.register-right {
    width: 40%;
    height: 40%;
    text-align: center;
    -webkit-box-shadow: 1px 0px 9px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 0px 9px 0px rgba(0,0,0,1);
    box-shadow: 1px 0px 9px 0px rgba(0,0,0,1);
    background: white;
    margin: 18% auto;
    padding-bottom: 1rem;
}

.register-form-heading {
    display: block;
    margin-top: 1rem ;
    color: teal;
}

.register-form-input {
    width: 90%;
    margin: .3rem auto;
    font-size: 1rem;
    padding: .3rem .9rem;
    color: #444;
}

.register-button {
    width: 80%;
    margin: 0 auto;
    font-size: .9rem;
    padding: .3rem .8rem;
    background: green;
    color: white;
    outline: none;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}

.register-right p {
    font-size: 1rem;
    color: #444;
}

.p-link a {
    text-decoration: none;
    margin-left: 1rem;
    color: green;
    border: 1px solid green;
    font-size: .8rem;
    padding: .3rem .9rem;
    border-radius: .5rem;
}